node_modules/
target/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
pnpm-lock.yaml

# cspell extension keeps `files` prop multiline
cspell.json

tests/.results.json
storybook.requires.js

# macOS
.DS_Store